
<div id="simple_list">
<table>
  <tr>
    <th>Name</th>
    <th>Cost</th>
  </tr>  

<% @plant_templates.each do |plant_template| %>
  <tr>
    <td><%=h plant_template.name %></td>
    <td><%=h plant_template.cost %></td>

    <td><%= button_to "Buy", :action=>:buy, :id=>plant_template.id %></td>
  </tr>
<% end %>
</table>
</div>


<div id="full_list" style="display:none;" >
<table>
  <tr>
    <th>Name</th>
    <th>Cost</th>
    <th>Max health</th>
    <th>Virility</th>
    <th>Stength</th>
    <th>Min light</th>
    <th>Shade generated</th>
    <th>Min water</th>
    <th>Water consumption</th>
    <th>Layer req</th>
  </tr>  

<% @plant_templates.each do |plant_template| %>
  <tr>
    <td><%=h plant_template.name %></td>
    <td><%=h plant_template.cost %></td>
    <td><%=h plant_template.max_health %></td>
    <td><%=h plant_template.virility %></td>
    <td><%=h plant_template.strength %></td>
    <td><%=h plant_template.min_light %></td>
    <td><%=h plant_template.shade_generated %></td>
    <td><%=h plant_template.min_water %></td>
    <td><%=h plant_template.water_consumption %></td>
    <td><%=h plant_template.layer_req %></td>
    <td><%= button_to "Buy", :action=>:buy, :id=>plant_template.id %></td>
  </tr>
<% end %>
</table>
</div>

<%= link_to_function "Show more/less detail", "$('full_list').toggle(); $('simple_list').toggle();" %>
<br />

<%= button_to "Earn more points", :controller=>:mission_game, :action=>:start%>
<%= button_to "View your Garden", :controller=>:garden, :action=>:view %>