<%- content_for:head_content do %>
	<%= stylesheet_link_tag 'account' %>
<% end-%>
<%= render :partial => 'shared/html_head'%>
<div class="mainContent centered">
	<%= render :partial => 'shared/header'%>
	<div class="content mainCol">
		<%= render :partial=>'shared/display_flashes'%>
		<div>
			<%= yield :layout%>
		</div>
	</div>
	<div class="clear footerHeight"></div>
</div>
<%= render :partial => 'shared/footer'%>
<%= render :partial => 'shared/html_tail'%>