<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Heroes in Green</title>
		<%= stylesheet_link_tag 'heroesInGreen' %>
		<%= stylesheet_link_tag 'mission' %>
		<%= stylesheet_link_tag 'account' %>
		<%=javascript_include_tag 'prototype'%>
	</head>
	<body>
		<div class="heroesBanner"><%=image_tag 'heroes_header.gif'%></div>
		<div class="mainContent">
			<div class="navigation">
				<%= link_to "Home", :controller=>:account, :action=>:home%><br/>
				<%= link_to "Do Missions", :controller=>:mission_game, :action=>:start%><br/>
				<%= link_to "View Garden", :controller=>:garden, :action=>:view %><br/>
				<%= link_to "Change Password", :controller=>:account, :action=>:password %><br/>
				<%= link_to "Logout", :controller=>:account, :action=>:logout %><br/>
			</div>
			<div class="content">
				<%unless flash[:notice]==nil%>
					<div class="errorContent"><%= flash[:notice] %></div>
				<%end%>
				<div>
					<%= yield :layout%>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</body>
</html>