<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Heroes in Green</title>
		<%= stylesheet_link_tag 'heroesInGreen' %>
		<%= stylesheet_link_tag 'mission' %>
	</head>
	<body>
		<div class="mission-info">
		<h1 class="heroesBanner">Heroes In Green</h1>
		<%= yield :layout%>
		</div>

		<div class="user-login">
			<fieldset>
				<legend>Please log in</legend>
				<% form_tag :controller => "users", :action => "login" do %>
				<p>
					<label for="email">Email:</label>
					<%= text_field_tag :email, params[:email] %>
				</p>
				
				<p>
					<label for="password">Password:</label>
					<%= password_field_tag :password, params[:password] %>
				</p>
				
				<p>
					<%= submit_tag "Login" %>
				</p>
				<% end %>
			</fieldset>
		</div>
	</body>
</html>
