<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Heroes in Green</title>
		<%= stylesheet_link_tag 'heroesInGreen' %>
		<%= stylesheet_link_tag 'mission' %>
	</head>
	<body>
		<div class="heroesBanner"><%=image_tag 'heroes_header.gif'%></div>
		<div class="mainContent"><%= yield :layout%></div>
		<div class="loginModule"><%= render :partial => 'shared/login_module' %></div>
	</body>
</html>
