<%-content_for :head_content do %>
	<%= stylesheet_link_tag 'mission_central' %>
<% end-%>
<%- #Tab navigation prep
	#Tab structure = [name, action_name]
	tabs = []
	tabs << ["Find mission", "find_mission"]
	tabs << ["Current missions", "current_missions"]
	
	tab_index = nil
	tabs.each_index{|index|
		tab_index = index if tabs[index].include?(action_name)
	}
-%>
<%= render :partial => 'shared/html_head', :locals=>{:body_id => "tab#{tab_index}"}%>
<%= render :partial => 'shared/header'%>
<div class="mainContent">
	<div class="content">
		<%unless flash[:notice]==nil%>
			<div class="errorContent"><%= flash[:notice] %></div>
		<%end%>
		<div>
			<div class="mission_tabs">
				<ul id = "tabnav">
					<%tabs.each_index do |index|%>
						<%tab = tabs[index]%>
						<li class="tab<%=index%>"><%=link_to tab[0],tab[1]%></li>
					<%end%>
				</ul>
			</div>
			<%= yield :layout%>
		</div>
	</div>
	<div class="clear"></div>
</div>
<%= render :partial => 'shared/footer'%>
<%= render :partial => 'shared/html_tail'%>