<%-content_for :head_content do %>
	<%= stylesheet_link_tag 'mission_central' %>
<% end-%>
<%- #Tab navigation prep
	#Tab structure = [name, action_name]
	tabs = []
	tabs << ["Explore", "explore_world"]
	tabs << ["Search", "find_mission"]
	tabs << ["Current", "current_missions"]
	
	tab_index = nil
	@body_action_id ||= action_name
	tabs.each_index{|index|
		if tabs[index].include?(@body_action_id) 
			tab_index = index 
		end
	}
-%>
<%= render :partial => 'shared/html_head', :locals=>{:body_id => "tab#{tab_index}"}%>
<div class="mainContent centered">
	<%= render :partial => 'shared/header'%>
	<div class="content mainCol">
		<div class="mission_container">
			<h1>Mission Central</h1>
			<div class="mission_tabs">
				<ul id = "tabnav">
					<%tabs.each_index do |index|%>
						<%tab = tabs[index]%>
						<li class="tab<%=index%>"><%=link_to tab[0],tab[1]%></li>
					<%end%>
				</ul>
			</div>
			<div class="mission_content">
				<%= render :partial=>'shared/display_flashes'%>
				<%= yield :layout%>
			</div>
		</div>
	</div>
	<div class="clear footerHeight"></div>
</div>
<%= render :partial => 'shared/footer'%>
<%= render :partial => 'shared/html_tail'%>