<%- content_for:head_content do %>
	<%= stylesheet_link_tag 'admin' %>
<% end-%>

<%= render :partial => 'shared/html_head'%>
	<%= render :partial => 'shared/header_admin'%>
<div class="adminContent">
	
	<div class="content">
		<%= render :partial=>'shared/display_flashes'%>
		<div>
			<%= yield :layout%>
		</div>
	</div>

</div>

<%= render :partial => 'shared/html_tail'%>