<%= render :partial => 'shared/html_head'%>
<%= render :partial => 'shared/header'%>

<div class="mainContent"><%= yield :layout%></div>

<%= render :partial => 'shared/footer'%>
<%= render :partial => 'shared/html_tail'%>