<h1>Listing plant_templates</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cost</th>
    <th>Max health</th>
    <th>Virility</th>
    <th>Strength</th>
    <th>Min light</th>
    <th>Shade generated</th>
    <th>Min water</th>
    <th>Water consumption</th>
    <th>Layer req</th>
  </tr>

<% @plant_templates.each do |plant_template| %>
  <tr>
    <td><%=h plant_template.name %></td>
    <td><%=h plant_template.cost %></td>
    <td><%=h plant_template.max_health %></td>
    <td><%=h plant_template.virility %></td>
    <td><%=h plant_template.strength %></td>
    <td><%=h plant_template.min_light %></td>
    <td><%=h plant_template.shade_generated %></td>
    <td><%=h plant_template.min_water %></td>
    <td><%=h plant_template.water_consumption %></td>
    <td><%=h plant_template.layer_req %></td>
    <td><%= link_to 'Show', plant_template %></td>
    <td><%= link_to 'Edit', edit_plant_template_path(plant_template) %></td>
    <td><%= link_to 'Destroy', plant_template, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New plant_template', new_plant_template_path %>