<h1>New plant_template</h1>

<% form_for(@plant_template) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
    <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
      <p>
    <%= f.label :image_path %><br />
    <%= f.text_field :image_path %>
  </p>
        <p>
    <%= f.label :thumbnail %><br />
    <%= f.text_field :thumbnail %>
  </p>
  <p>
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </p>
  <p>
    <%= f.label :virility %><br />
    <%= f.text_field :virility %>
  </p>
      <p>
    <%= f.label :layer_max %><br />
    <%= f.text_field :layer_max %>
  </p>
  <p>
    <%= f.label :health_max %><br />
    <%= f.text_field :health_max %>
  </p>
    <p>
    <%= f.label :wetness_tolerance %><br />
    <%= f.text_field :wetness_tolerance %>
  </p>
  <p>
    <%= f.label :wetness_optimum %><br />
    <%= f.text_field :wetness_optimum %>
  </p>
  <p>
    <%= f.label :water_consumption %><br />
    <%= f.text_field :water_consumption %>
  </p>
      <p>
    <%= f.label :light_min %><br />
    <%= f.text_field :light_min %>
  </p>
  <p>
    <%= f.label :light_max %><br />
    <%= f.text_field :light_max %>
  </p>
      <p>
    <%= f.label :nutrients_tolerance %><br />
    <%= f.text_field :nutrients_tolerance %>
  </p>
      <p>
    <%= f.label :nutrients_optimum %><br />
    <%= f.text_field :nutrients_optimum %>
  </p>
        <p>
    <%= f.label :nutrients_consumption %><br />
    <%= f.text_field :nutrients_consumption %>
  </p>
    
  <p>
    <%= f.label :vertical_rate %><br />
    <%= f.text_field :vertical_rate %>
  </p>
  <p>
    <%= f.label :radial_rate %><br />
    <%= f.text_field :radial_rate %>
  </p>
  <p>
    <%= f.label :density_rate %><br />
    <%= f.text_field :density_rate %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', plant_templates_path %>