    # name - string
    # cost - int
    # virility - int
    # image_path - string
    # layer_max - int
    # health_max - int
    #
    # wetness_tolerance - int
    # wetness_optimum - int
    # water_consumption - int
    #
    # light_min - int
    # light_max - int
    #
    # nutrients_tolerance - int
    # nutrients_optimum - int
    # nutrients_consumption - int
    #
    # vertical_rate - float
    # radial_rate - float
    # density_rate - float
<p>
  <b>Name:</b>
  <%=h @plant_template.name %>
</p>

<p>
  <b>Cost:</b>
  <%=h @plant_template.cost %>
</p>

<p>
  <b>Virility:</b>
  <%=h @plant_template.virility %>
</p>

<p>
  <b>Image Path:</b>
  <%=h @plant_template.image_path %>
</p>

<p>
  <b>Layer max:</b>
  <%=h @plant_template.layer_max %>
</p>

<p>
  <b>Health Max:</b>
  <%=h @plant_template.health_max %>
</p>

<p>
  <b>Water consumption:</b>
  <%=h @plant_template.water_consumption %>
</p>

<p>
  <b>Light min:</b>
  <%=h @plant_template.light_min %>
</p>

<p>
  <b>Light max:</b>
  <%=h @plant_template.light_max %>
</p>

<p>
  <b>Nutrients consumption:</b>
  <%=h @plant_template.nutrients_consumption %>
</p>

<p>
  <b>Vertical rate:</b>
  <%=h @plant_template.vertical_rate %>
</p>

<p>
  <b>Radial_rate:</b>
  <%=h @plant_template.radial_rate %>
</p>

<p>
  <b>Density rate:</b>
  <%=h @plant_template.density_rate %>
</p>


<%= link_to 'Edit', edit_plant_template_path(@plant_template) %> |
<%= link_to 'Back', plant_templates_path %>