<%-content_for :head_content do %>
  <%= javascript_include_tag "jquery-1.6.2.min", "jquery-ui/jquery-ui-1.8.17.custom.min", "garden", "rails" %>
  <%= stylesheet_link_tag "jquery-ui/smoothness/jquery-ui-1.8.17.custom" %>
<% end %>

Your garden measures your progress by converting the amount of C02 you have conserved into roughly equivalent biomass. 
<div class="clear"></div>

<%@plantId = params[:pl]%>

<div class="Garden">
  <div class="grounds">
	<%@garden.size_y.times do |y|%>
		<%@garden.size_x.times do |x|%>
		  <% if !@plantId.nil? %>
			<%if @garden.is_compatible(@plantId,x,y)%>
			  <% opts = "class=\"ground highlighted\" onclick=\"buy(#{@plantId},#{x},#{y})\"" %>
			<%else%>
			  <% opts = "class=\"ground highlighted cantPlant\"" %>
			<%end%>
		  <% else %>
			<% opts = "class=\"ground\"" %>
		  <% end %>

		  <div <%= opts %>>
			<%ground = @garden.grounds.find_by_x_and_y(x,y)%>
			<%if ground != nil%>
			  <%ground.plants.each do |plant|%>
				<%if plant.plant_template.image_path != nil%>
				  <%img_url = "plants/#{plant.plant_template.image_path}"%>
					<%#if @garden.size_y - y == 1%>
					  <%#img_url = img_url + "a.png"%>
					<%#elsif @garden.size_y - y == 2%>
					  <%#img_url = img_url + "b.png"%>
					<%#elsif @garden.size_y - y == 3%>
					  <%img_url = img_url + ".png"%>
					<%#end%>

					<div class="plant_in_garden" data-id="<%= plant.id %>" data-del-path="<%= plant_path(plant.id) %>" >
					  <%=image_tag(img_url,:title => plant.name) %> <br>
					</div>
				  <%end%>
				<%end%>
			<%end%>
		  </div>
		<%end%>
	<%end%>
  </div>
</div>

<div class="gardenStats">
	<h3>Garden Stats</h3>
	<!-- Include the total savings partial view (app/view/missions/_totalSavings.erb), which has information about the total gains as a results of the completed missions-->
	<%= render :partial=>'missions/totalSavings', :locals => {:completed_missions => @completed_missions}%>
	<br />
	<div>You have <strong><%=@logged_in_user.avail_points%> points</strong> (enough for <%= SimulationUtilities.pointsToBiomassInKg(@logged_in_user.avail_points) %> kg more plants!)</div>
	<div class="BuyMore"><%= button_to "Buy More", :controller=>:store, :action=>:view%></div>
	<hr />
	<!-- Include the history partial view (app/view/missions/_history.erb), which has the list of completed missions-->
	<%= render :partial=>'missions/history', :locals => {:completed_missions => @completed_missions}%>
</div>

<div id="plant-delete-dialog" class="hidden" title="Delete this plant?">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This plant will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<div class="clear"></div>

<script>
	//Try to buy this plant, for planting at position x,y in the garden
	function buy(plantId, x, y)
	{
		if(plantId >= 0 && x >= 0 && y >= 0 && x < 9 && y < 7)
			window.location.replace('/store/buyAndSave/' + plantId + '?x=' + x + '&y=' + y);
		else
			alert("We have a suspicion you're not green enough. Sorry, no plants for you.");	//TODO: agrandhi
	}
</script>
