<h1>Your garden!</h1>
Your garden measures your progress.
	<div>
	<table cellpadding="0" cellspacing="0" style="background:#563215;">
	<%@garden.size_y.times do |y|%>
		<tr>
			<%@garden.size_x.times do |x|%>
				<td>
					<%ground = @garden.grounds.find_by_x_and_y(x,y)%>
					<%if ground != nil%>
						<p>Wetness:<%=h ground.wetness %></p>
						<p>Nutrients:<%=h ground.nutrients %>
						<%ground.plants.each do |plant|%>
							<p>Health:<%=h plant.health %></p>
							<p>Height:<%=h plant.height %></p>
							<p>Radius:<%=h plant.radius %></p>
							<p>Water needed:<%=h plant.plant_template.water_min %></p>
							<p>Nutrients needed:<%=h plant.plant_template.nutrients_min %></p>
							<%if plant.plant_template.image_path != nil%>
								<%=image_tag("plants/#{plant.plant_template.image_path}",:title => plant.name)%><br>
							<%else%>
								<%=image_tag("plants/Drought_Leaf_48x48.png",:title => plant.name)%>
							<%end%>
						<%end%>
					<%else%>
						<%=image_tag("plants/Dirt_48x48.png")%>
					<%end%>
				</td>
			<%end%>
		</tr>
	<%end%>
	</table>
	</div>


<%= button_to "Tick!", :controller=>:garden, :action=>:tick, :repeat=>1, :id=>@garden %>
<%= button_to "Back to your profile", :controller=>:users, :action=>:stats%>
<%= button_to "Purchase plants", :controller=>:store, :action=>:view %>