<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Password:</b>
  <%=h @user.password %>
</p>

<p>
  <b>Total points:</b>
  <%=h @user.totl_points %>
</p>

<p>
	<b>Available points:</b>
	<%=h @user.avail_points %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>