<h1>Welcome <%=@user.email%></h1>
List of accomplishments
<table border=1>
	<tr>
		<td>Mission Title</td>
		<td>Points awarded</td>
		<td>Mission status</td>
		<td>Date completed</td>
	</tr>
<% @user.missionStatuses.each do |missionStatus| %>
	<tr>
		<td><%=missionStatus.mission.title%></td>	
		<td><%=missionStatus.mission.points%></td>
		<td><%=missionStatus.status_string%></td>
		<td><%=missionStatus.updated_at.to_date%></td>
	</tr>
<%end%>
</table>
<%= button_to "Earn more points", :controller=>:mission, :action=>:start%>
<%= button_to "View Garden", :controller=>:garden, :action=>:view %>