<%-content_for :head_content do %>
	<%= stylesheet_link_tag 'mission_search_box' %>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

	<%=javascript_include_tag "./fancybox/jquery.fancybox-1.3.4.pack.js"%>
	<%=stylesheet_link_tag './fancybox/jquery.fancybox-1.3.4' %>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#various1").fancybox({
				'titlePosition' : 'inside',
				'transitionIn'	: 'none',
				'transitionOut' : 'none'
			});

			$("a[rel=mission_text]").fancybox({
				'titlePosition' : 'inside',
				'transitionIn'	: 'none',
				'transitionOut' : 'none',
				'showNavArrows' : 'false'
			});

			$("#various3").fancybox({
				'width'			: '75%',
				'height'		: '75%',
				'autoScale'		: false,
				'transitionIn'	: 'none',
				'transitionOut' : 'none',
				'type'			: 'iframe'
			});

		});
<% end-%>

<script type="text/javascript">
    $("table.display tbody tr").live('click', function() {
        var id = $(this).data("id");
        if ((typeof(id) == "undefined") || (id === "")) {
            id = $(this).attr("data");
            id = id.gsub(/id/, '')
        }
        $.ajax({
            type: "GET",
            url: "/missions/show_mission_in_a_box/" + $(this).data("id"),
            dataType: "script"
        });
    });

</script>


<!--div class="search_box">
	<h2>Mission Search</h2>
	<%search_term ||= ''%>
	<%form_tag :action=>'search' do%>
		<%=text_field_tag 'search_text', search_term, :size=>50%><br/>
		<%=submit_tag "What missions await?"%>
	<%end%>	
</div-->

<div id="search_mission_list">
	<h2 style="text-align: center">Missions</h2>
	<div style="max-height: 500px; overflow-y: auto;">
		<%= render :partial => "missions/mission_list", :locals => { :missions => @missions } %>
	</div>
</div>