<%-content_for :head_content do %>
	<%= stylesheet_link_tag 'css_popup' %>
<% end-%>
<style type="text/css">
	a.active_world {
		background:transparent;
		
		/* for IE */
	  	filter:alpha(opacity=100);
	  	/* CSS3 standard */
	  	opacity:1.0;
	}

	dl.image_map {display:block; width:900px; height:517px; background:url(/images/world/world_map.gif); position:relative; margin:2px auto 2px auto;padding-bottom:60px;background-repeat:no-repeat;}
	a.LINK0 {left:30px; top:217px; }
	a.LINK0 { width:143px; height:0; padding-top:123px; }
	a.LINK1 {left:125px; top:120px; }
	a.LINK1 { width:153px; height:0; padding-top:100px; }
	a.LINK2 {left:192px; top:226px; }
	a.LINK2 { width:134px; height:0; padding-top:100px; }
	a.LINK3 {left:307px; top:81px; }
	a.LINK3 { width:167px; height:0; padding-top:115px; }
	a.LINK4 {left:315px; top:178px; }
	a.LINK4 { width:211px; height:0; padding-top:126px; }
	a.LINK5 {left:323px; top:296px; }
	a.LINK5 { width:222px; height:0; padding-top:156px; }
	a.LINK6 {left:518px; top:11px; }
	a.LINK6 { width:193px; height:0; padding-top:114px; }
	a.LINK7 {left:529px; top:136px; }
	a.LINK7 { width:196px; height:0; padding-top:108px; }
	a.LINK8 {left:514px; top:237px; }
	a.LINK8 { width:186px; height:0; padding-top:129px; }
	a.LINK9 {left:522px; top:363px; }
	a.LINK9 { width:225px; height:0; padding-top:144px; }
	a.LINK10 {left:693px; top:294px; }
	a.LINK10 { width:204px; height:0; padding-top:214px; }
	a.LINK11 {left:693px; top:168px; }
	a.LINK11 { width:204px; height:0; padding-top:132px; }
	a.LINK12 {left:722px; top:0px; }
	a.LINK12 { width:175px; height:0; padding-top:172px; }
</style>

<dl class="image_map">
	<dd><a class="popup_link active_world LINK0" title="Meadow World" href="<%=url_for :action=>:world, :id=>@worlds[0].id%>"><div class="css_popup popup_right"><%=render :partial=>'world_popup', :locals=>{:world_title=>@worlds[0].name, :world_description=>@worlds[0].description, :unlock_text=>@worlds[0].unlockable_text}%></div></a></dd>
	<dd><a class="popup_link LINK1" title="Home World" href="javascript:alert('Coming soon!');return false;"><div class="css_popup popup_right"><%=render :partial=>'world_popup', :locals=>{:world=>:home}%></div></a></dd>
	<dd><a class="popup_link LINK2" title="Carbon World" href="javascript:alert('Coming soon!');return false;"><div class="css_popup popup_right"><%=render :partial=>'world_popup', :locals=>{:world=>:carbon}%></div></a></dd>
	<dd><a class="popup_link LINK3" title="Garden World" href="javascript:alert('Coming soon!');return false;"><div class="css_popup popup_right"><%=render :partial=>'world_popup', :locals=>{:world=>:garden}%></div></a></dd>
	<dd><a class="popup_link LINK4" title="Water World" href="javascript:alert('Coming soon!');return false;"><div class="css_popup popup_far_right"><%=render :partial=>'world_popup', :locals=>{:world=>:water}%></div></a></dd>
	<dd><a class="popup_link LINK5" title="Savana" href="javascript:alert('Coming soon!');return false;"><div class="css_popup popup_right"><%=render :partial=>'world_popup', :locals=>{:world=>:savana}%></div></a></dd>
	<dd><a class="popup_link LINK6" title="Party World" href="javascript:alert('Coming soon!');return false;"><div class="css_popup popup_left_bottom"><%=render :partial=>'world_popup', :locals=>{:world=>:party}%></div></a></dd>
	<dd><a class="popup_link LINK7" title="EcoFarm" href="javascript:alert('Coming soon!');return false;"><div class="css_popup popup_left"><%=render :partial=>'world_popup', :locals=>{:world=>:farm}%></div></a></dd>
	<dd><a class="popup_link LINK8" title="The Coast" href="javascript:alert('Coming soon!');return false;"><div class="css_popup popup_left"><%=render :partial=>'world_popup', :locals=>{:world=>:coast}%></div></a></dd>
	<dd><a class="popup_link LINK9" title="Light World" href="javascript:alert('Coming soon!');return false;"><div class="css_popup popup_left_up"><%=render :partial=>'world_popup', :locals=>{:world=>:light}%></div></a></dd>
	<dd><a class="popup_link LINK10" title="Jungle" href="javascript:alert('Coming soon!');return false;"><div class="css_popup popup_left"><%=render :partial=>'world_popup', :locals=>{:world=>:jungle}%></div></a></dd>
	<dd><a class="popup_link LINK11" title="Paradise" href="javascript:alert('Coming soon!');return false;"><div class="css_popup popup_left"><%=render :partial=>'world_popup', :locals=>{:world=>:paradise}%></div></a></dd>
	<dd><a class="popup_link LINK12" title="Technopolis" href="javascript:alert('Coming soon!');return false;"><div class="css_popup popup_left_bottom"><%=render :partial=>'world_popup', :locals=>{:world=>:techno}%></div></a></dd>						
</dl>