<%-content_for :head_content do %>
	<%= stylesheet_link_tag 'mission_central' %>
	<%= stylesheet_link_tag 'mission_search' %>
<% end-%>
<%- #Tab navigation prep
	#Tab structure = [name, action_name]
	tabs = []
	tabs << ["Explore", "explore_world"]
	tabs << ["Search", "find_mission"]
	tabs << ["Current", "current_missions"]
	
	tab_index = nil
	@body_action_id ||= action_name
	tabs.each_index{|index|
		if tabs[index].include?(@body_action_id) 
			tab_index = index 
		end
	}
-%>
<%= render :partial => 'shared/html_head', :locals=>{:body_id => "tab#{tab_index}"}%>
<div class="mainContent centered">
	<%= render :partial => 'shared/header'%>

	<%= render :partial=>'shared/display_flashes'%>

	<div class="line">
		<div class="unit w3of5 left">
			<div class="contentBox">
					<%=render :partial=>'mission_search_box'%>
			</div>
		</div>
		
		<div class="unit w2of5 right" id="missionDetails"></div>
	</div>

	<div class="clear footerHeight"></div>
</div>
<%= render :partial => 'shared/footer'%>
<%= render :partial => 'shared/html_tail'%>	