<%-content_for :head_content do %>
	<%= stylesheet_link_tag 'mission_results' %>
<% end-%>
<%=render :partial=>'mission_search_box', :locals=>{:search_term => @search_text}%>
<div class="search_results">
	<div class="title_row border"><h3>Missions Found</h3></div>

		<%if @results && @results.size > 0%>
			<%index = 0%>
			<%show_border = "border"%>
			<%@results.each do |mission|%>
				<%index += 1%>
				<%show_border = "" if index == @results.size%>
				<div class="result_row <%=show_border%>">
					<a href="javascript:switchOpenDiv(<%=index%>, '<%=url_for(:action=>'start', :id=>mission.id)%>');">
						<div class="icons_box">
							Icons
						</div>
						<div class="points_box">
							<%=mission.points%> points
						</div>
						<div>
							<%=truncate("<b>#{mission.title}</b> - #{mission.description}",110, "...")%>
						</div>	
						<%if @user%>
							<%status = @user.get_status(mission)%>
							<%if status%>
								<div>
									<p>
										<b>Current status:</b> <%=status.status_string%>
									</p>
								</div>
							<%end%>
						<%end%>
						<div id="results_<%=index%>" class="mission_text_box" style="<%if index > 1%>display:none;<%end%>">
							<p>
								<%=truncate(mission.intro,150, "...")%>
							</p>
							<p>
								Savings: $150/year
							</p>
							<span class="results_watermark">Click to see more</span>
						</div>
					</a>
				</div>
			<%end%>
		<%else%>
			<div class="result_row">No matches found. Try a different search term.</div>
		<%end%>
	</table>
</div>

<script type="text/javascript">
	var cur_selected = 1;
	
	function switchOpenDiv(new_index, redirect_url)
	{
		if(new_index != cur_selected)
		{
			Effect.BlindDown('results_' + new_index);
			Effect.BlindUp('results_'+ cur_selected);
			cur_selected = new_index;
		}
		else
		{
			location.href = redirect_url;
		}
	}
</script>