-# You can include this mission list partial in any other view or page.
-# You will need to pass in a list of missions as locals, like so:
-# <%= render :partial => "missions/mission_list", :locals => {:missions => @missions } %>
= stylesheet_link_tag "datatables/demo_page", "datatables/demo_table"
= javascript_include_tag "jquery.dataTables.min"

:javascript
  $(document).ready(function() {
    $('#mission_list').dataTable({bInfo: false, bFilter: false, bPaginate: false});
  });

%table.display.demoTable.clickable.missionList
  %thead
    %tr
      %th
      -#%th Cost
      %th Points

  %tbody
    - m_count = 1
    - missions.each do |mission|
      %tr.missionRow{:data => {:id => mission.id}}
        %td
          %span.mission_title= h mission.title
          %br
          %span.mission_task= mission.task
        -#%td= h mission.description
        -#%td= h mission.reward
        %td.points= h mission.points
        -#%td= h mission.repeatable
        -#%td= h mission.unitPoints
        -#%td= h mission.unit
        -#%td
          - mission.mission_tags.each do |mission_tag|
            = h mission_tag.mission_tag

        -#%td
          =link_to "popup", "#inline#{@m_count}", :rel => "mission_text", :title => "#{mission.title}"

      %div{:style => "display: none;"}
        %div{:id => "inline#{m_count}", :style => "width:400px;height:100px;overflow:auto;"}
          = h mission.reward
      - m_count = m_count + 1
