<script>
$("#mission_accepted_dialog").dialog({ autoOpen: false, modal: true, minWidth: 400 } );
$("#mission_completed_dialog").dialog({ autoOpen: false, modal: true, minWidth: 400 } );

$("button.doit").live("click", function() {
  var id = $(this).data("id");
  if ((typeof(id) == "undefined") || (id === "")) {
    id = $(this).attr("data");
    id = id.gsub(/id/, '');
  }

  $.ajaxSetup({
    beforeSend: function(xhr) {
      xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
    }
  });

  $.ajax({
    type: "POST",
    url: "/mission_game/accept/" + id,
    dataType: "script"
  });
});

$("button.complete").live("click", function() {
  var id = $(this).data("id");
  if ((typeof(id) == "undefined") || (id === "")) {
    id = $(this).attr("data");
    id = id.gsub(/id/, '');
  }

  $.ajaxSetup({
    beforeSend: function(xhr) {
      xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
    }
  });

  $.ajax({
    type: "POST",
    url: "/mission_game/complete/" + id,
    dataType: "script"
  });
});


</script>

<div class="missionInABox">
	<h3>Mission: <%= mission.title %></h3>
	<div class="sidebar contentBox bgGray">
		<img class="icon" width="48" height="48" src="http://a.fsdn.com/con/icons/fl/flowersaver@sf.net/Flower%20Saver%20Icon.png" />
		<div class="carbon"><span class="num"><%= mission.points * 0.1 %></span> lbs CO2</div>
		<div class="points"><span class="num"><%= mission.points %></span> points</div>
	</div>

	<p class="copy">
		<span class="lead">What:</span>
		<%= mission.intro %>
	</p>
    <p class="copy">
		<span class="lead">Why:</span>
		<%= mission.description %>
	</p>
    <p class="copy">
		<span class="lead">How:</span>
		<%= mission.task %>
	</p>

	<div class="clear"></div>

        <% if !mission.mission_statuses.empty? %>
          <% if ms = mission.mission_statuses.exists?(:user_id => current_user.id) %>
            <% ums = mission.mission_statuses.find(:first, :conditions => ["user_id = ?", current_user.id]) %>
            <% if ums.status == MissionStatus::ACTIVATED_STATUS %>
              <% time_remaining = ums.time_remaining %>
              <% if !time_remaining.nil? %>
                <% if (time_remaining <= 0) %>
                  <button class="complete" data-id="<%= mission.id %>">Done!</button>
                <% else %>
                  Time remaining: <%= time_ago_in_words(ums.time_remaining) %>
                <% end %>
              <% else %>
                <button class="complete" data-id="<%= mission.id %>">Done!</button>
              <% end %>
            <% elsif ums.status == MissionStatus::COMPLETED_STATUS %>
              Completed
            <% else %>
              <button class="complete" data-id="<%= mission.id %>">Done!</button>
            <% end %>
          <% else %>
            <button class="doit" data-id="<%= mission.id %>">Do it!</button>
          <% end %>

        <% else %>
            <button class="doit" data-id="<%= mission.id %>">Do it!</button>
        <% end %>
</div>

<div id="mission_accepted_dialog" title="Mission Accepted!">
</div>

<div id="mission_completed_dialog" title="Mission Completed!">
</div>
