<h1>Listing missions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Intro</th>
    <th>Description</th>
    <th>Task</th>
    <th>Reward</th>
	<th>Tag</th>
    <th>Points</th>
    <th>Repeatable</th>
    <th>Unitpoints</th>
    <th>Unit</th>
    <th>Cost</th>
    <th>Effort</th>
    <th>Duration</th>
  </tr>

<% @missions.each do |mission| %>
  <tr>
    <td><%=h mission.title %></td>
    <td><%=h mission.intro %></td>
    <td><%=h mission.description %></td>
    <td><%=h mission.task %></td>
    <td><%=h mission.reward %></td>
	<td><% mission.mission_tags.each do |mission_tag| %>
		<%=h mission_tag.mission_tag %>
		<% end %>
	</td>
    <td><%=h mission.points %></td>
    <td><%=h mission.repeatable %></td>
    <td><%=h mission.unitPoints %></td>
    <td><%=h mission.unit %></td>

    <td><%=h mission.cost %></td>
    <td><%=h mission.effort %></td>
    <td><%=h mission.duration %></td>

    <td><%= link_to 'Show', mission %></td>
    <td><%= link_to 'Edit', edit_mission_path(mission) %></td>
    <td><%= link_to 'Destroy', mission, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New mission', new_mission_path %>