</div><!-- close _header's fullHeightPage -->
<div class="footer">
	<div class="line">
		<div class="links unit line">
			<div class="unit">
				<a href=".">Lorem Ipsum</a>
			</div>
			<div class="unit">
				<a href=".">Dolor Sit</a>
			</div>
			<div class="unit">
				<a href=".">Amet</a>
			</div>
            <% if user_signed_in? && current_user %>
			  <div class="unit">
			    <%=link_to "Change password", :controller=>:account, :action=>:password%>
			  </div>
			  <div class="unit">
			    <a href="/users/sign_out">Sign out</a>
			  </div>
			<% end %>
		</div>
		<div class="copyright lastUnit">
			(c) Heroes in Green. All rights reserved.
		</div>
	</div>
	<div class="clear"></div>
</div>

<%if false%>
<div class="footer">

	<% if user_signed_in? %>
		Hello <%=h current_user.email%>! You have <b><%=h current_user.avail_points%></b> points available.<br/>

			<%all_gardens = current_user.gardens
  				if all_gardens.empty?
  					current_user.add_garden
  				end
  			current_garden=all_gardens.first%>							
		<div class="minigarden">
			<%current_garden.size_y.times do |y|%>
					<%current_garden.size_x.times do |x|%>
							<%ground = current_garden.grounds.find_by_x_and_y(x,y)%>
							<%if ground != nil%>
								<%ground.plants.each do |plant|%>
									<%if plant.plant_template.image_path != nil%>
										<%= link_to image_tag("plants/#{plant.plant_template.image_path}",:title => plant.name), :action => :remove_plant, :plant_id => plant.id %>
									<%else%>
										<%= link_to image_tag("plants/Drought_Leaf_48x48.png",:title => plant.name), :action => :remove_plant, :plant_id => plant.id %>
									<%end%>								
								<%end%>
							<%end%>
					<%end%>
			<%end%>
		</div>
		
		<%=link_to "Full garden view", :controller => :garden, :action=>:view%> | <%=link_to "Buy new plants!", :controller => :store, :action=>:view%><br/>
	<% end %>

	<a href="/">About us</a>

</div>
<%end%>