<!--<div class="heroesBanner"><%=image_tag 'heroes_header.gif'%></div> TODO:agrandhi suppressing for now-->
<div id="uberHeader">
	<div class="header">
			<div id="header-left">
				<div id="siteName">Heroes In Green</div>			
			</div>
			<div id="header-center">
				<%if session[:user_id] && User.find(session[:user_id]) && User.find(session[:user_id]).avatar%>
					<%= image_tag("avatars/thumbs/#{User.find(session[:user_id]).avatar}")%>
				<%else%>
					<%= image_tag("avatars/thumbs/111.png")%>
				<%end%>
			</div>
			<div id="header-right">
				<div id="userMod">
					<% if session[:user_id] && User.find(session[:user_id])%>
						Hello <%=h User.find(session[:user_id]).email%>! <%if @level%>You are a <b><%=@level.title%></b>!<%end%><br/>
						You've conserved over <%=h User.find(session[:user_id]).avail_points%>lbs of CO2!<br/>
						<%= link_to "Logout", :controller=>:account, :action=>:logout%>
					<% else %>
						<% form_tag :controller => "account", :action => "login" do%>
							<div id="login">
								<%= text_field_tag :email, params[:email] %>
								<%= password_field_tag :password, params[:password] %>
							</div>
							<div id="register">Not a hero yet?  <a href="/account/register/">Register</a>!</div>
							<div id="signin"><%= submit_tag "Sign In" %></div>
						<% end %>
					<% end %>
				</div>
			</div>
	</div>
</div>
<div id="uberHeaderLinks">
	<div class="headerLinks">
			<div id="headerLink"><%=link_to "My Missions", :controller=>:mission_game, :action=>:current_missions%></div>
			<div id="headerLink"><%=link_to "My Garden", :controller=>:garden, :action=>:view%></div>
			<div id="headerLink"><%=link_to "Garden Goodies", :controller=>:store, :action=>:view%></div>
			<div id="headerLink"><%=link_to "Pimp Yo Avatar", :controller=>:account, :action=>:avatar%></div>
			<div id="headerLink"><%=link_to "My Home", :controller=>:account, :action=>:home%></div>
			<div id="headerLink"><%=link_to "My Accomplishments", :controller => :account, :action=>:accomplishments%></div>
			<div id="headerLink"><a href="#">Team Homepage</a></div>
	</div>
</div>
