<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
                <meta name="csrf-token" content="<%= form_authenticity_token %>" />
                <meta name="csrf-param" content="authenticity_token" />
		<title><%=@title ||= "Heroes in Green"%></title>
		<%= stylesheet_link_tag 'heroesInGreen' %>
		<%=javascript_include_tag :defaults%>
		<%= yield :head_content %>
		<script type="text/javascript">
			  	var _gaq = _gaq || [];
	  			_gaq.push(['_setAccount', 'UA-544024-6']);
	  			_gaq.push(['_trackPageview']);
	
				(function() {
	    			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  			})();
		</script>	
	</head>
	<%body_id ||= nil%>
	<body <%if body_id%>id = "<%=body_id%>"<%end%>>


