<div id="login_widget" class="user-login">
	<% if session[:user_id] %>
		Welcome back <%=h User.find(session[:user_id]).email%>!
		<%=button_to_remote "Log out", :update=>"login_widget", :url=>{:controller => "users", :action=>:logout}%>
	<% else %>	
		<fieldset>
			<legend>Please log in</legend>			
			<% form_remote_tag :update=>"login_widget", :url=>{:controller => "users", :action => "login"} do %>
			<p>
				<label for="email">Email:</label>
				<%= text_field_tag :email, params[:email] %>
			</p>
			
			<p>
				<label for="password">Password:</label>
				<%= password_field_tag :password, params[:password] %>
			</p>
			
			<p>
				<%= submit_tag "Login" %>
			</p>
			<% end %>
		</fieldset>	
	<% end %>
</div>