<div id="login_widget" class="user-login">
	<%unless flash[:notice]==nil%>
		<div class="error_content"><p style="color: red"><%= flash[:notice] %></p></div>
	<%end%>

	<div class="login_content">
		<% if user_signed_in? && current_user %>
			Welcome back <%=h current_user.email%>!<br/>
			Gosh! You are such a hero! You have saved <b><%=h current_user.totl_points%></b> trees!<br/>
			You have <b><%=h current_user.avail_points%></b> points available.<br/>
			<%=link_to "Show accomplished missions", :controller => :account, :action=>:home%><br/>
			<%url = {:controller => "account", :action=>:logout}%>
			<%if @force_refresh_on_login%><%url[:refresh] = 1%><%end%>
			<%=button_to_remote "Log out", :update=>"login_widget", :url=>url%>
		<% else %>	
			<fieldset>
				<legend>Please log in</legend>			
				<% form_remote_tag :update=>"login_widget", :url=>{:controller => "account", :action => "login"} do %>
				<%if @force_refresh_on_login%>
					<%=hidden_field_tag :refresh, 1%>
				<%end%>
				<p>
					<label for="email">Email:</label>
					<%= text_field_tag :email, params[:email] %>
				</p>
				
				<p>
					<label for="password">Password:</label>
					<%= password_field_tag :password, params[:password] %>
				</p>				
				<p>
					<%= submit_tag "Login" %>
				</p>
				<% end %>
			</fieldset>	
		<% end %>
	</div>
</div>
<%if @force_refresh%>
	<script>window.location = location.href;</script>
<%end%>