<style>
	#errorExplanation h2, #errorExplanation p, .flash_error {
		display: none;
	}
	#errorExplanation ul {
		list-style-type: none;
		padding-left: 0px !important;
	}
	
	.progress, .challenge, .accountActions { margin: 10px; }
	
	.mainRow {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.challenge {
		text-align: center;
	}
	.challenge button { 
		font-size: x-large;
	}
	h1, h2, h3, h4 { margin: 0 0 1ex; }

	.accountActions .action.createAccount { margin-bottom: 2em; }
	.accountActions * { text-align: center; }
	.accountActions .action h3 {
		text-align: center;
	}
	.accountActions .action p {
		display: none;
	}
	.accountActions form input[type="text"],
	.accountActions form input[type="password"]	{
		border: 1px solid black;
		width: 100%;
		font-size: large;
	}

	.progress {
		position: relative;
		width: 480px;
		margin-top: 50px;
		text-align: center;
	}
	.progress h3 { font-weight: bold; }
	.progress > * {
		z-index: 2;
		position: relative;
	}
	.progress p { margin-bottom: 0; }
	.progress > .progressBar {
		display: block;
		position: absolute;
		z-index: 1;
		top: 5px;
		left: 5px;
		height: 77px;
		background: #ee7;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-khtml-border-radius: 10px;
		border-radius: 10px;
	}
</style>


<div class="mainRow line">
	<div class="unit w3of5">
		<div class="challenge contentBox">
			<h2>We can all be heroes.</h2>
			<p>
				Together, we can change the world<br>
				for the better. How much better?
			</p>
			<p>
				<span style="font-size:xx-large">One million pounds</span><br>
				<span style="font-size:x-large">of carbon dioxide better.</span>
			</p>
			<p style="p30">Can we do this, working together?</p>
			
			<button>Join us</button>
		</div>
	</div>
	<div class="unit w2of5 lastUnit">
		<div class="contentBox accountActions">
			<div class="createAccount action">
				<p>Ready to join us?</p>
				<h3>Create an Account</h3>
				<%form_for :signupEmail, @signupEmail do |f|%>
					<div id="error_messages">
						<%= render :partial=>'shared/display_flashes'%>
						<%= f.error_messages %>
					</div>
					<%= f.text_field :email %>
					<%= f.submit 'Create Account' %>
				<%end%>
			</div>
			
			<div class="logIntoAccount action">
				<p>Already on the team?</p>
				<h3>Log In</h3>
				<%form_for :logIn, @logIn do |f|%>
					<div id="error_messages">
						<%= render :partial=>'shared/display_flashes'%>
						<%= f.error_messages %>
					</div>
					<%= f.text_field :email %>
					<%= f.password_field :password %>
					<%= f.submit 'Log In' %>
				<%end%>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="progress centered contentBox clear">
	<h3>Our collective progress:</h3>
	<p>642,156 pounds (out of 1,000,000 pounds)</p>
	<span class="progressBar" style="width: 64%">&nbsp;</span>
</div>

<script>
	Event.observe('signupEmail_email', 'focus', function(event) {
   		$('signupEmail_email').value = '';
		Event.stopObserving('signupEmail_email', 'focus');
	});
</script>