<div class="halfWidth left">
	<div class="contentBox bgNone" id="landingCopy">
		<h1 style="text-align:center; margin-bottom: 6px">I'm a Hero</h1>
		<img id="handsOnHips" width="162" height="200" src="http://stockfresh.com/files/e/eyeidea/m/56/422819_stock-photo-mannequin-standing-hands-on-hips.jpg" />
		Lorem ipsum dolor sit amet capuncini arigato roboto. Lorem ipsum dolor sit amet capuncini arigato roboto. Lorem ipsum dolor sit amet capuncini arigato roboto. Lorem ipsum dolor sit amet capuncini arigato roboto. Lorem ipsum dolor sit amet capuncini arigato roboto.
		<div class="clear"></div>
	</div>

	<div class="contentBox accountActions">
		<% if !user_signed_in? %>
			<div class="createAccount action">
				<p>Ready to join us?</p>
				<h3>Create an Account</h3>
				<% form_for :user, :url => user_registration_path do |f| %>
					<div id="error_messages">
						<%= render :partial=>'shared/display_flashes' %>
					</div>
					<%= f.text_field :email %>
					<%= f.submit 'Create Account' %>
				 <%end%>
			</div>

			<div class="logIntoAccount action">
				<p>Already on the team?</p>
				<h3>Log In</h3>
				<%form_for :user, :url => user_session_path do |f| %>
					<div id="error_messages">
						<%= render :partial=>'shared/display_flashes'%>
					</div>
					<%= f.text_field :email %>
					<%= f.password_field :password %>
					<%= f.submit 'Log In' %>
				<%end%>
			</div>
		<% else %>
			<% @user = current_user %>
			<%= render :partial => "account/name_module" %>
		<% end %>
		
		<script>
			Event.observe('signupEmail_email', 'focus', function(event) {
				$('signupEmail_email').value = '';
				Event.stopObserving('signupEmail_email', 'focus');
			});
		</script>
	</div>
</div>

<div class="halfWidth right">
	<div class="contentBox missionList">
		<h1 style="text-align:center">Get Started</h1>
		<%= render :partial => "missions/missionInABox" %>
		<%= render :partial => "missions/missionInABox" %>
		<%= render :partial => "missions/missionInABox" %>
	</div>
</div>

<div class="clear"></div>

<style>
	h1 { font-size: x-large; }
	#landingCopy { margin-bottom: 30px; }
	#landingCopy img#handsOnHips {
		float:left;
		margin: 0 -15px -30px;
	}
	#errorExplanation h2, #errorExplanation p, .flash_error {
		display: none;
	}
	#errorExplanation ul {
		list-style-type: none;
		padding-left: 0px !important;
	}
	
	.progress, .challenge, .accountActions { margin: 10px; }
	
	.mainRow {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.challenge {
		text-align: center;
	}
	.challenge button { 
		font-size: x-large;
	}
	h1, h2, h3, h4 { margin: 0 0 1ex; }

	.accountActions .action.createAccount { margin-bottom: 2em; }
	.accountActions * { text-align: center; }
	.accountActions .action h3 {
		text-align: center;
	}
	.accountActions form input[type="text"],
	.accountActions form input[type="password"]	{
		border: 1px solid black;
		width: 88%;
		font-size: large;
	}

	.missionList .missionInABox { margin-bottom: 2em; }
</style>