<%= render :partial=>'name_module' %>
<br/>
<hr>
<%if @level%>
	Level <b><%=@level.number%></b> - You are a <b><%=@level.title%></b>!<br/>
<%end%>
<%if @points_required%>
	<%=@points_required%> more points till level up.<br/>
	<br/>
<%end%>
Earned points: <%=@user.totl_points%><br/>
Available Points: <%=@user.avail_points%>
<hr>

<br/>
<br/>
You are totally awesome because you...
<table border=1>
	<tr>
		<td>Mission Title</td>
		<td>Points awarded</td>
		<td>Mission status</td>
		<td>Date completed</td>
		<td>Times completed</td>
	</tr>
<% @user.missionStatuses.find(:all, :order => 'status').each do |missionStatus| %>
	<tr>
		<td><%=missionStatus.mission.title%></td>	
		<td><%=missionStatus.mission_points%></td>
		<td><%=missionStatus.status_string%></td>
		<td><% if missionStatus.activated? %>
		<%= button_to "Complete mission!", :controller => "mission_game", :action=>:accept, :id=>missionStatus.mission %>
		<%= button_to "Drop this mission.", :controller => "mission_game", :action=>:drop, :id=>missionStatus.mission %>
		<% elsif missionStatus.completed? %>
		<%=missionStatus.updated_at.to_date%>
		<% elsif missionStatus.deactivated? %>
		Inactive. <%= button_to "Accept this mission.", :controller => "mission_game", :action=>:accept, :id=>missionStatus.mission %>
		<% else %>
		Weird status
		<% end %>
		</td>
		<td>
			<% if missionStatus.mission.repeatable? %>
				Completed <b><%= missionStatus.repeats %></b> times. 
				<% if missionStatus.completed? %>
					<%= button_to "Do it again!", :controller => "mission_game", :action=>:accept, :id=>missionStatus.mission %>
				<% end %>
			
			<% elsif missionStatus.mission.oneshot? %>
				Oneshot mission only.
			<% else %>
				No type defined
			<% end %>
		</td>
	</tr>
</table>
<table border=1>


<%end%>

<%garden = User.find(session[:user_id]).gardens.first%>
<%displayGardenOnly = 1%>

<%= render :partial=>'garden/view', :locals => { :garden => garden, :displayGardenOnly => 1}%>

<%@lowestPricePlantThatCanBeBought = @plant_templates[0]%>
<% @plant_templates.each do |plant_template| %>
   	<%if @user.avail_points > plant_template.cost && @lowestPricePlantThatCanBeBought.cost > plant_template.cost%>
	   	<%@lowestPricePlantThatCanBeBought = plant_template%>
	<%end%>
<%end%>
You can buy a <%=@lowestPricePlantThatCanBeBought.name%> with your available points!

<div class="mainContent">
	<div class="content">
		<%= render :partial=>'shared/display_flashes'%>
		<div>
			<%= yield :layout%>
		</div>
	</div>
	<div class="clear"></div>
</div>

</table>





