<%= render :partial=>'name_module' %>

<hr>

<%if @level%>
	Level <b><%=@level.number%></b> - You are a <b><%=@level.title%></b>!<br/>
<%end%>
<%if @points_required%>
	<%=@points_required%> more points till level up.<br/>
	<br/>
<%end%>
Earned points: <%=@user.totl_points%><br/>
Available Points: <%=@user.avail_points%>

<hr>

<div class="line">
  <div class="unit w3of5 left">
    <div class="contentBox">
      <%=render :partial => 'mission_game/my_missions_box', :locals => {:missions => @missions }  %>
    </div>

	<%if false %>
    <div class="contentBox">
      <%=render :partial => 'mission_game/my_missions_box', :locals => {:missions => @futureMissions, :missions_title => "My Upcoming Missions" }  %>
    </div>
	<% end %>

    <div class="contentBox">
      <%=render :partial => 'mission_game/my_missions_box', :locals => {:missions => @pastMissions, :missions_title => "My Accomplishments" }  %>
    </div>
  </div>

  <div id="overlappingRightCol" class="unit w2of5 right">
	<div id="missionDetails"></div>
	<div class="miniGarden">
      <%garden = current_user.gardens.first%>
      <%displayGardenOnly = 1%>
      <%= render :partial=>'garden/view', :locals => { :garden => garden, :displayGardenOnly => 1}%></div>
	</div>
</div>

<table border="1">

	<%if @plant_templates %> 
		<% @lowestPricePlantThatCanBeBought = @plant_templates[0]%>
		<% @plant_templates.each do |plant_template| %>
			<%if @user.avail_points > plant_template.cost && @lowestPricePlantThatCanBeBought.cost > plant_template.cost%>
				<%@lowestPricePlantThatCanBeBought = plant_template%>
			<%end%>
		<%end%>


		You can buy a <%=@lowestPricePlantThatCanBeBought.name%> with your available points!
	<% end %>

	<div class="mainContent">
		<div class="content mainCol">
			<%= render :partial=>'shared/display_flashes'%>
			<div>
				<%= yield :layout%>
			</div>
		</div>
		<div class="clear"></div>
	</div>

</table>
