<%= render :partial=>'name_module' %>
<br/>
You are totally awesome because you...
<table border=1>
	<tr>
		<td>Mission Title</td>
		<td>Points awarded</td>
		<td>Mission status</td>
		<td>Date completed</td>
		<td>Times completed</td>
	</tr>
<% @user.missionStatuses.find(:all, :order => 'status').each do |missionStatus| %>
	<tr>
		<td><%=missionStatus.mission.title%></td>	
		<td><%=missionStatus.mission_points%></td>
		<td><%=missionStatus.status_string%></td>
		<td><% if missionStatus.activated? %>
		<%= button_to "Complete mission!", :controller => "mission_game", :action=>:accept, :id=>missionStatus.mission %>
		<%= button_to "Drop this mission.", :controller => "mission_game", :action=>:drop, :id=>missionStatus.mission %>
		<% elsif missionStatus.completed? %>
		<%=missionStatus.updated_at.to_date%>
		<% elsif missionStatus.deactivated? %>
		Inactive. <%= button_to "Accept this mission.", :controller => "mission_game", :action=>:accept, :id=>missionStatus.mission %>
		<% else %>
		Weird status
		<% end %>
		</td>
		<td>
			<% if missionStatus.mission.repeatable? %>
				Completed <b><%= missionStatus.repeats %></b> times. 
				<% if missionStatus.completed? %>
					<%= button_to "Do it again!", :controller => "mission_game", :action=>:accept, :id=>missionStatus.mission %>
				<% end %>
			
			<% elsif missionStatus.mission.oneshot? %>
				Oneshot mission only.
			<% else %>
				No type defined
			<% end %>
		</td>
	</tr>
<%end%>
</table>
<hr>
Earned points: <%=@user.totl_points%><br>
Available Points: <%=@user.avail_points%>
<hr>

