<h1>Listing levels</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Title</th>
    <th>Points required</th>
  </tr>

<% @levels.each do |level| %>
  <tr>
    <td><%=h level.number %></td>
    <td><%=h level.title %></td>
    <td><%=h level.points_required %></td>
    <td><%= link_to 'Show', level %></td>
    <td><%= link_to 'Edit', edit_level_path(level) %></td>
    <td><%= link_to 'Destroy', level, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New level', new_level_path %>